@{
    ViewBag.Title = "Home Page";
}

<h2>Welkom tot het SSA gedeelte. Hier kan je inloggen als vereniging.</h2>
<br/>
<p>Inloggen is verrijst.</p>
<br/>
<p>Als je als admin wilt inloggen gebruik dan:</p>
<p>Login: thomas.vanhoutte&#64;student.howest.be</p>
<p>Password: nmct2015</p>